@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000000;
}
a {
  text-decoration: none;
  color: #000000;
}
ul,
ol {
  list-style-type: none;
}

/*Header starts here */
header {
  margin-bottom: 50px;
}
.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.links {
  display: flex;
  gap: 30px;
  font-size: 22px;
  font-weight: 400;
}

.links a{
  position: relative;
  transition: color 0.2s ease;
}
.links a:hover{
  color: rgb(19, 107, 82);
}

.links a::after{
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgb(19, 107, 82);
  transition: width 0.3s ease;

}
.links a:hover::after {
  width: 100%;
}

/*gallery section*/

.first-gallery {
  padding: 50px 120px;
}
.gallery-title {
  padding-bottom: 69px;
  font-weight: 500;
  font-size: 50px;
}

.grid-wrapper{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}